# IDE
.vscode/
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / Optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
db*.json
**/migrations/*
!**/migrations/__init__.py

# Scripts
*.sh
*.bat

# Backup files
*.bak

# Smart contracts builds
/blockchain/build/
/blockchain/voting/build/

# Smart contracts migrations
!**/migrations/1_initial_migration.js
!**/migrations/2_deploy_contracts.js

# App images
/blockchain/*.AppImage

# Build Artifacts
/blockchain/contracts/artifacts/
/blockchain/voting/contracts/artifacts/

